h5 {
    font-size: 30px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.social {
    width: 34px;
    height: 35px;
}

.w {
    width: 100%;
}

.h {
    height: 100%;
}

.img35 {
    width: 1920px;
    height: 1080px;;
}
.divvalidation {
    display: none;
}

.mvalidation {
    margin-top: 5px;
}

.contorno {
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
}

.tamanhofonte {
    font-size: 20px;
    font-weight: bold;
}

.justificar {
    text-align: justify;
}
.opacidade {
    opacity: 0.5;
}

.opacidade div h5 {
    opacity: 1.0;
}